{% load static %}
{% load staticfiles %}

<link rel="import" href={% static "patient/app/bower_components/iron-pages/iron-pages.html" %}>
<link rel="import" href={% static "patient/app/bower_components/paper-button/paper-button.html" %}>
<link rel="import" href={% static "patient/app/bower_components/iron-ajax/iron-ajax.html" %}>
<link rel="import" href={% static "patient/app/bower_components/paper-header-panel/paper-header-panel.html" %}>
<link rel="import" href={% static "patient/app/elements/dev-page/dev-page.html" %}>
<link rel="import" href={% static "patient/app/elements/bpsc-page/bpsc-page.html" %}>
<link rel="import" href={% static "patient/app/elements/family-page/family-page.html" %}>
<link rel="import" href={% static "patient/app/elements/emotional-page/emotional-page.html" %}>
<link rel="import" href={% static "patient/app/elements/posi-page/posi-page.html" %}>
<link rel="import" href={% static "patient/app/elements/page-login/page-login.html" %}>
<link rel="import" href={% static "patient/app/elements/result-page/result-page.html" %}>
<link rel="import" href={% static "patient/app/bower_components/paper-fab/paper-fab.html" %}> 
    
<dom-module id="page-manager">
    <link rel="import" type="css" href={% static "patient/app/elements/page-manager/page-manager.css" %}>
    <template>
        <!--<paper-header-panel mode="seamed">
            <paper-toolbar>
                <div id="headerName">eSWYC<span>{{title}}</span></div>
            </paper-toolbar>
        </paper-header-panel>-->
        <iron-pages selected="{{pageNum}}" id="ironPage">
            <div id="login">
                <page-login version="{{version}}" is-valid="{{inputValid}}"
                	age="{{age}}" name="{{name}}" phone-num="{{phoneNum}}" 
                	is-spanish= "{{isSpanish}}">
                </page-login>
            </div>
            <div id="dev">
                <dev-page  id="devS" version="{{version}}" section="dev milestones"
                	options="Dev Options" is-spanish= "{{isSpanish}}">
                </dev-page>
            </div>
            
            <div id="bpsc">
                <bpsc-page id="bpscS" version="{{version}}" is-spanish= "{{isSpanish}}">
                </bpsc-page>
            </div>
                        
            <div id="result">
                <result-page age="{{age}}" version="{{version}}" dmscore="{{dmscore}}" 
                	bpscscore="{{bpscscore}}" pcscore="{{pcscore}}" 
                	familyscore="{{familyscore}}" emoscore="{{emoscore}}"
                	posiscore="{{posiscore}}" name="{{name}}" phone-num="{{phoneNum}}"
                	sectionkeys="{{sectionKeys}}" is-spanish= "{{isSpanish}}" 
                	id="resultPage">
                	</result-page>
            </div>
            
        </iron-pages>
        <br>
        <div id="buttonDiv">
        <div id="backBlock"><paper-fab icon="arrow-back" title="back" raised 
        on-click="back" id="back"></paper-fab></div>
        
        <div id="nextBlock"><paper-fab icon="arrow-forward" title="next" raised 
        	on-click="next" id="next"></paper-fab></div>
        	
        <div id="submitBlock"><paper-fab icon="check" title="submit" raised 
        	on-click="submit" id="submit"></paper-fab>      
        </div>
        </div>
        <iron-ajax
            auto
            url="/questions.json"
            handle-as="json"
            on-response="handleResponse">
        </iron-ajax>
        
        <iron-ajax
            auto
            url="/spanishSWYC.json"
            handle-as="json"
            on-response="handleResponse1">
        </iron-ajax>
        <?php include('../../scripts/answer.php') ?>
    </template>
    <script>
    	var jsonOfQuestions ="";
    	var jsonOfQuestionsSpanish ="";
        Polymer({
            is: 'page-manager',
            properties: {
                title: {
                    type: String,
                    notify: true,
                    value: ": 2 month"
                },
                pageNum: {
                    type: Number,
                    notify: true,
                    value: 0,
                    observer: '_pageChange',
                },
                version: {
                    type: Number,
                    notify: true,
                    observer: 'pullSections',
                },
                questionsSet: {
                    type: Object,
                    notify: true,
                    value: {},
                },
                questionsSetEnglish: {
                    type: Object,
                    notify: true,
                    value: {},
                },
                questionsSetSpanish: {
                    type: Object,
                    notify: true,
                    value: {},
                },
                age: {
                    type: Number,
                    notify: true,
                },
            	phoneNum: {
            		type: String,
            		notify: true,
            		value: "",
            	}, 
            	isSpanish: {
            		type: Number,
            		notify: true,
            		value: 0,
            		observer: 'pullSections',
            	},  
            	name: {
            		type: String,
            		notify: true,
            		value: "",
            	},
                inputValid: {
                	type: Boolean,
                	notify: true,
                	value: false,
                	observer: '_pageChange',
                },
                dmscore: {
                	type: Number,
                	notify: true,
                	value: 0,
                },
                bpscscore: {
                	type: Array,
                	notify: true,
                	value: [0,0,0],
                },
                pcscore: {
                	type: Number,
                	notify: true,
                	value: 0,
                },
                familyscore: {
                	type: Array,
                	notify: true,
                	value: [0,0,0],
                },
                emoscore: {
                	type: Number,
                	notify: true,
                	value: 0,
                },
                posiscore: {
                	type: Number,
                	notify: true,
                	value: 0,
                },
                sectionKeys: {
                	type: Array,
                	notify: true,
                },
            },
            next: function(){
                var pages = document.querySelector('iron-pages');
                pages.selectNext();
            },
            handleResponse: function (data) {
                jsonOfQuestions= data.detail.response;  
            	this.questionsSetEnglish = jsonOfQuestions;
            },
            handleResponse1: function (data) {
                jsonOfQuestionsSpanish= data.detail.response;  
            	this.questionsSetSpainsh = jsonOfQuestionsSpanish;
            },
            pullSections: function () {
               if (this.version){
                    swycAge=(String(this.version)).concat(" month");
                    var questions = ""; 
                    this.isSpanish = parseInt(this.isSpanish);                    
                    if(this.isSpanish === 0){
                    	questions = jsonOfQuestions[swycAge]["questions"];
                    	this.questionsSet = this.questionsSetEnglish;
                    	console.log(this.questionsSet);
                    } else {
                    	questions = jsonOfQuestionsSpanish[swycAge]["questions"];
                    	this.questionsSet = this.questionsSetSpainsh;
                    };
                    this.$$("#devS").questionsSet = this.questionsSet;
                    this.$$("#bpscS").questionsSet = this.questionsSet;
                    //console.log(questions);
                    //this.questionsSet = questions;
                    this.sectionKeys = Object.keys(questions);
                    console.log(this.sectionKeys);
                    var pageContainer = Polymer.dom(this.$.ironPage);
                    //clear extra section
                    var pageNodes = pageContainer.querySelectorAll("div");;
	            	for(var i=0; i < pageNodes.length; i++){
		        		if(pageNodes[i].id !=="login" && pageNodes[i].id !=="dev" &&
							pageNodes[i].id !=="bpsc" && pageNodes[i].id !=="result"){
				  		pageContainer.removeChild(pageNodes[i]);
				  		Polymer.dom.flush();
                    	};
		    		};
                    var lastPageNode = this.$.result;
                    if(this.sectionKeys.indexOf("Parent's Concerns") > -1){
                    	var pPage = document.createElement('dev-page');
                    	pPage.section = "Parent's Concerns";
                    	pPage.options = "Parent's Concerns Options";
                    	pPage.isSpanish = this.isSpanish;  
                    	pPage.version = this.version; 
                    	pPage.questionsSet = this.questionsSet;                 	
                    	var newDiv = document.createElement('div');
                    	newDiv.appendChild(pPage);
                    	pageContainer.insertBefore(newDiv, lastPageNode);
                    };
                    if(this.sectionKeys.indexOf("Family Questions") > -1){
                    	var fPage = document.createElement('family-page');
                    	fPage.isSpanish = this.isSpanish;
                    	fPage.version = this.version;
                    	fPage.questionsSet = this.questionsSet;   
                    	var newDiv = document.createElement('div');
                    	newDiv.appendChild(fPage);
                    	pageContainer.insertBefore(newDiv, lastPageNode);
                    };
                    if(this.sectionKeys.indexOf("Emotional Changes With A New Baby") > -1){
                    	var ePage = document.createElement('emotional-page');
                    	ePage.isSpanish = this.isSpanish;
                    	ePage.questionsSet = this.questionsSet;
                    	ePage.version = this.version;
                    	var newDiv = document.createElement('div');
                    	newDiv.appendChild(ePage);
                    	pageContainer.insertBefore(newDiv, lastPageNode);
    	            };
    	            var posiName = "Parent's Observation of Social Interactions (POSI)";  
                    if(this.sectionKeys.indexOf(posiName) > -1){
                    	var ePage = document.createElement('posi-page');
                    	ePage.isSpanish = this.isSpanish;
                    	ePage.version = this.version;
                    	ePage.questionsSet = this.questionsSet;
                    	var newDiv = document.createElement('div');
                    	newDiv.appendChild(ePage);
                    	pageContainer.insertBefore(newDiv, lastPageNode);
    	            };                  
                }         
            },
            back: function(){
                var pages = document.querySelector('iron-pages');
                pages.selectPrevious();
            },
            _pageChange: function(){
                var pageTotal = document.querySelector("iron-pages").items.length;
                if(this.pageNum === 0){
                    this.$$("#back").style.display = 'none';
                    this.$$("#submit").style.display = 'none';
                    if(this.inputValid === false){
                    	this.$$("#next").disabled = true;
                    	this.$$("#next").style.backgroundColor = "grey";
                    } else {
                    	this.$$("#next").style.backgroundColor = "#0aae55";
                    	this.$$("#next").disabled = false;
                    };
                }else if(this.pageNum === (pageTotal - 2)){
                    this.$$("#next").style.display = 'none';
                    this.$$("#submit").style.display = 'inline-block';
                }else if(this.pageNum === (pageTotal - 1)){
                    this.$$("#submit").style.display = 'none';                    
                }else{
                    this.$$("#back").style.display = 'inline-block';
                    this.$$("#next").style.display = 'inline-block';
                    this.$$("#submit").style.display = 'none';
                };
            },
            submit: function() {
            	//flip page
                var pages = document.querySelector('iron-pages');
                pages.selectNext();
                
                var version =(String(this.version)).concat(" month");
                //var devquestions = document.querySelectorAll("dev-page")[0].questions;
                var devquestions = 
                	this.questionsSetEnglish[version]["questions"]["dev milestones"];
                document.querySelector("result-page").dmQuestions = devquestions;
            	var devAnswers = document.querySelectorAll("dev-page")[0].answers;
            	document.querySelector("result-page").dmAnswers = devAnswers;
            	
            	//var bpscquestions = document.querySelector("bpsc-page").questions;
            	if (this.version < 18){
                	var bpscquestions = 
                		this.questionsSetEnglish[version]["questions"]["BPSC"];
                } else {
                	var bpscquestions = 
                		this.questionsSetEnglish[version]["questions"]["PPSC"];
                };
                document.querySelector("result-page").bpscQuestions = bpscquestions;
            	var bpscAnswers = document.querySelector("bpsc-page").answers;

				var pcAnswers = [];
                if(this.sectionKeys.indexOf("Parent's Concerns") > -1){
                	//var pcquestions = document.querySelectorAll("dev-page")[1].questions;
                	var pcquestions = 
                		this.questionsSetEnglish[version]["questions"]["Parent's Concerns"];
                	document.querySelector("result-page").pcQuestions = pcquestions;
            		pcAnswers = document.querySelectorAll("dev-page")[1].answers;
            		document.querySelector("result-page").pcAnswers = pcAnswers;
            	};
            	
            	var familyAnswers =[];
                if(this.sectionKeys.indexOf("Family Questions") > -1){
                	//var familyQuestions = document.querySelector("family-page").questions;
                	var familyQuestions = 
                		this.questionsSetEnglish[version]["questions"]["Family Questions"];
                	document.querySelector("result-page").familyQuestions = 
                		familyQuestions;
            		familyAnswers = document.querySelector("family-page").answers;
            		document.querySelector("result-page").familyAnswers = familyAnswers;
            	};
            	
            	var emoAnswers = [];
                if(this.sectionKeys.indexOf("Emotional Changes With A New Baby") > -1){
                	//var emoQuestions = document.querySelector("emotional-page").questions;
                	var sectionName = "Emotional Changes With A New Baby";
                	var emoQuestions = 
                		this.questionsSetEnglish[version]["questions"][sectionName];
                	document.querySelector("result-page").emoQuestions = 
                		emoQuestions;
            		emoAnswers = document.querySelector("emotional-page").answers;
            		document.querySelector("result-page").emoAnswers = emoAnswers;  
    	        };
    	        
    	        var posiAnswers = [];
    	        var posiName = "Parent's Observation of Social Interactions (POSI)";  
                if(this.sectionKeys.indexOf(posiName) > -1){
                	//var posiQuestions = document.querySelector("posi-page").questions;
                	var sectionName = 
                		"Parent's Observation of Social Interactions (POSI)";
                	var posiQuestions = 
                		this.questionsSetEnglish[version]["questions"][sectionName];
                	document.querySelector("result-page").posiQuestions = 
                		posiQuestions;
            		posiAnswers = document.querySelector("posi-page").answers;
            		document.querySelector("result-page").posiAnswers = posiAnswers;
    	        };  

            	
            	/*var answerHashMap = {};
            	answerHashMap["dev"] = devAnswers;
            	answerHashMap["bpsc"] = bpscAnswers;
            	*/
          	
            	var devTotalScore = 0;
            	for( var i = 0; i < devAnswers.length; i++){
            		if(devAnswers[i] === -1 || devAnswers[i] === undefined ){
            			// skip a question            		
            		} else {
            			devTotalScore += Number(devAnswers[i]);
            		};
            	};
            	
            	var bpscTotalScore = [0,0,0];
            	if(this.age < 18) {
            		for( var i = 0; i < 4; i++){
            			if(bpscAnswers[i] === -1 || bpscAnswers[i] === undefined ){
            				bpscAnswers[i] = -1;
            			} else {
            				bpscTotalScore[0] += Number(bpscAnswers[i]);
            			};
            		};
            		for( var i = 4; i < 8; i++){
            			if(bpscAnswers[i] === -1 || bpscAnswers[i] === undefined ){
            				bpscAnswers[i] = -1;
            			} else {
            				bpscTotalScore[1] += Number(bpscAnswers[i]);
            			};
            		};
            		for( var i = 8; i < 12; i++){
            			if(bpscAnswers[i] === -1 || bpscAnswers[i] === undefined ){
            				bpscAnswers[i] = -1;
            			} else {
            				bpscTotalScore[2] += Number(bpscAnswers[i]);
            			};
            		};
            	} else {
            		for( var i = 0; i < bpscAnswers.length; i++){
            			if(bpscAnswers[i] === -1 || bpscAnswers[i] === undefined ){
            				bpscAnswers[i] = -1;
            			} else {
            				bpscTotalScore[0] += Number(bpscAnswers[i]);
            			};
            		};
            	};
            	//the answers need to pass to result page before the score since the  
            	//scoreChanged in the result-page will be triggered.
            	document.querySelector("result-page").bpscAnswers = bpscAnswers;

            	var pcTotalScore = 0;
            	for( var i = 0; i < pcAnswers.length; i++){
            		if(pcAnswers[i] === -1 || pcAnswers[i] === undefined ){
            			// skip a question            		
            		} else {
            			pcTotalScore += Number(pcAnswers[i]);
            		};
            	};
            	
            	var familyTotalScore = [0,0,0];
            	if(familyAnswers.length !== 0) {
            		for( var i = 0; i < 5; i++){
            			if(familyAnswers[i] === -1 || familyAnswers[i] === undefined ){
            				// skip a question            		
            			} else {
            				familyTotalScore[0] += Number(familyAnswers[i]);
            			};
            		};
            		for( var i = 5; i < 7; i++){
            			if(familyAnswers[i] === -1 || familyAnswers[i] === undefined ){
            				// skip a question            		
            			} else {
            				familyTotalScore[1] += Number(familyAnswers[i]);
            			};
            		};
            	};
            	if(familyAnswers.length > 7) {
            		for( var i = 7; i < 9; i++){
            			if(familyAnswers[i] === -1 || familyAnswers[i] === undefined ){
            				// skip a question            		
            			} else {
            				familyTotalScore[2] += Number(familyAnswers[i]);
            			};
            		};
            	}; 
            	
            	var emoTotalScore = 0;
            	for( var i = 0; i < emoAnswers.length; i++){
            		if(emoAnswers[i] === -1 || emoAnswers[i] === undefined ){
            			// skip a question            		
            		} else {
            			emoTotalScore += Number(emoAnswers[i]);
            		};
            	};
            	
            	var posiTotalScore = 0;
            	for( var i = 0; i < posiAnswers.length; i++){
            		//only score the second sub-section
            		if( i >=1 && i <5 ){
            			if(posiAnswers[i] === -1 || posiAnswers[i] === undefined ){
            				// skip a question            		
            			} else {
            				posiTotalScore += Number(posiAnswers[i]);
            			};
            		};
            	};
            	            	
            	this.dmscore = devTotalScore;
            	this.bpscscore = bpscTotalScore;
            	this.pcscore = pcTotalScore;
            	this.familyscore = familyTotalScore;            	
            	this.emoscore = emoTotalScore;
            	this.posiscore = posiTotalScore;
            	//alert("Development Milestone Score : " + devTotalScore.toString() + "\n" 
            		//+ "Baby Pediatric Symptom Checklist Score : " 
            		//+ bpscTotalScore.toString());
            		
				/*var a = [1,2,3];
    			var xmlhttp = new XMLHttpRequest();
				xmlhttp.open( "POST", "../../scripts/answer.php", true );
				xmlhttp.setRequestHeader( "Content-Type", "application/json" );
				xmlhttp.send( '[1,2,3]' ); 
				
				
				var a = [1,2,3];
				var ajax = document.querySelector('iron-ajax');
				ajax.contentType = 'application/json';
				ajax.params = JSON.stringify(a);
				*/
				this.$$("#resultPage")._sendjson();
            },
        });
    </script>
</dom-module>
