body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

#buttonDiv {
	width: 100%;
	height: 100px;
	clear:both;
}

#backBlock{
    display: block;
    margin-top: 3%;
    margin-left: 10%;
   	float: left;
}

#nextBlock{
    display: inline-block;
    margin-top: 3%;
    margin-right: 10%;
    float: right;
}

#submitBlock{
    display: inline-block;
    margin-top: 3%;
    margin-right: 10%;
    float: right;
}

#back{
    background-color: #ffae19;
    color: white;
}

#next{
    background-color: #0aae55;
    color: white;
}

#submit{
    background-color: #2875e2;
    color: white;
}

#headerName {
    font-size: 30px;
}

#languageSelect{

