<!doctype html>
{% load static %}
{% load staticfiles %}
<!-- The patient interface -->
<html>
    <head>
    	<script src={% static "patient_v2/app/bower_components/webcomponentsjs/webcomponents.js" %}></script>
        <link rel="import" href={% static "patient_v2/app/bower_components/paper-header-panel/paper-header-panel.html" %}/>
		<link rel="import" href={% static "patient_v2/app/bower_components/paper-button/paper-button.html" %}/>
		<link rel="import" href={% static "patient_v2/app/elements/page-manager/page-manager.html" %}/>
        <link rel="stylesheet" href={% static "patient_v2/app/styles/main.css" %}/>

    </head>
    <body>
        <page-manager></page-manager>
    </body>

</html>
