{% extends "base.html" %}

{% block header %}<h1>Register</h1>{% endblock %}
{% block content %}

<div class="login-card mdl-card mdl-shadow--6dp"> <!-- mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop -->
  <div class="mdl-card__title mdl-card--expand mdl-color--primary mdl-color-text--white">
    <h2 class="mdl-card__title-text">register</h2>
  </div>
  <div class="mdl-card__supporting-text">
      <form class="form-signup" action="/clinician/register/" method="POST"> {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="username" name="username" value=""/>
          <label class="mdl-textfield__label" for="username">Username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="password" id="password" name="password" value = ""/>
          <label class="mdl-textfield__label" for="password">Password</label>
        </div>
        <!-- <label for="username">Username: </label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Password: </label>
        <input type="password" name="password" value="" id="password"> -->

         <div class="mdl-card__actions">
           <input type="submit" value="login" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"/>
         </div>
        <!-- <input type="submit" value="login"/> -->
      </form>
  </div>
</div>


  <form class="form-signup" action="/clinician/register/" method="POST">{% csrf_token %}
    <p>
    	{{ form.errors }}
    	{{ form.non_field_errors }}
    </p>
	<br>

    <div class="fieldWrapper">
        <label>First name</label><br>
        {{ form.first_name }}
    </div>
    <br>
    <div class="fieldWrapper">
        <label>Last name</label><br>
        {{ form.last_name }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label>E-mail</label><br>
        {{ form.email }}
    </div>
    <br>
    <div class="fieldWrapper">
    {{form.errors.values.0}}
        <label>Username</label><br>
        {{ form.username }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{form.errors.values.1}}
        <label>Password</label><br>
        {{ form.password1 }}
    </div>
    <br>
    <div class="fieldWrapper">
        <label>Password again</label><br>
        {{ form.password2 }}
    </div>
    <br></br>
    <input type="submit" name="submit" class="btn btn-primary" value="Create account">
</form>

{% endblock %}
