<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SWYC Summary</title>
	<!-- import d3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js" ></script>
	<!-- import bootstrap-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- import css some bootstrap is overwritten -->

  <link rel="stylesheet" type="text/css" src={% static "scripts/D3StackedCharts/stackedCharts.css" %}>

</head>
<body>
	<div id="{{name}}" class="patient_name">{{name}}</div>
	<script type="text/javascript" src={% static 'scripts/D3StackedCharts/optionsForSections.js' %}></script>
	<script type="text/javascript" src={% static 'scripts/D3StackedCharts/showAllResponses.js' %}></script>
	<script type="text/javascript" src={% static 'scripts/D3StackedCharts/drawButtonOption.js' %}></script>
	<script type="text/javascript" src={% static 'scripts/D3StackedCharts/findScore.js' %}></script>
	<script type="text/javascript" src={% static 'scripts/D3StackedCharts/test.js' %}></script>
</body>

</html>
